* {
  font-family: Helvetica, Arial, sans-serif;
  background-color:hsl(180, 100%, 95%)
}

html {
  font-size: 16px;
}

.banner h1 {
  background-image: url("https://lh3.googleusercontent.com/pw/AP1GczP8ftt9xYtTcYuuCMelP7ZDrGIQq7oAJPj5aTPcgkd_hiwTIWtkeLEsZKYBu4gOz75ILPH-TBxDoTWeyAYxIH1UVgIJQ_q9okk4tyRIaGSa37OZXg5NQiFcwNRtXujC32AEyZ6AZZuyrhxyjiY7OOD0=w1376-h1033-s-no-gm?authuser=0");
  background-position: center;
  background-size: cover;
  text-align: center;
  font-size: 3rem;
  color: white;
  height: 200px;
  width: 100%;
  padding-top: 20px;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin: 3rem auto;
      color: hsl(180, 100%, 10%);

}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 10px auto;
  width: 75%;
  text-align: center;
}


h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 3rem 1rem auto;
      color:hsl(220, 100%, 50%)
}

.row {
  text-align: center;
}

.image-container {
 margin: 0 auto;
  display: inline-block;
  width:40%;
  position: relative;
 }

.image-container img {
  margin: 20px;
  vertical-align: middle;
  width: 100%;
}

figcaption {
  font-size: 1.5rem;
  color: hsl(180, 100%, 25%);
  text-align: center;
}

.navlist {
  color: white;
  overflow: hidden;
  width: 100%;
  text-align: center;
  
}

.navlist li {
  list-style: none;
  display: inline-block;
  color: white;
  background-color: hsl(180, 100%, 40%);
  position: relative;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;


}


.navlist li:hover {
background-color: hsl(180, 100%, 10%);
}
