* {
  font-family: Helvetica, Arial, sans-serif;
  background-color:hsl(180, 100%, 95%)
}

html {
  font-size: 16px;
}

.banner h1 {
  background-image: url("https://lh3.googleusercontent.com/pw/AP1GczOPND1XkJYtbyddRe5CVGaSgOKpiPzmoMMONj3XiPcXrQFdsdHXagNa_5iOurEwQsiFT6heZvjZCGwa25_E8SjEocqHHJewwvKvHQ0yi97tNj2jQSl_TEX-8EJoAGRTSq3uNyeoxtpOxZkRg6L2WyVZ=w1376-h1033-s-no-gm?authuser=0");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  font-size: 3rem;
  color: white;
  height: 200px;
  width: 100%;
  padding-top: 20px;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin: 3rem auto;
      color: hsl(180, 100%, 10%);

}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 10px auto;
  width: 75%;
  text-align: center;
}


h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 3rem 1rem auto;
      color:hsl(220, 100%, 50%)
}

.row {
  text-align: center;
}

.image-container {
 margin: 0 auto;
  display: inline-block;
  width:40%;
  position: relative;
 }

.image-container img {
  margin: 20px;
  vertical-align: middle;
  width: 100%;
}

figcaption {
  font-size: 1.5rem;
  color: hsl(180, 100%, 25%);
  text-align: center;
}

.navlist {
  color: white;
  overflow: hidden;
  width: 100%;
  text-align: center;
  
}

.navlist li {
  list-style: none;
  display: inline-block;
  color: white;
  background-color: hsl(180, 100%, 40%);
  position: relative;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;


}


.navlist li:hover {
background-color: hsl(180, 100%, 10%);
}

@media only screen and (max-width: 1000px) and (orientation: portrait){
  h2 {
    font-size: 4rem;
  }
    p {
    font-size: 2rem;
    width: 95%;
  }
  .image-container {
    width: 40%;
  }
    .navlist li {
    font-size: 2rem;
    padding: 20px 40px;
}
}
